@model Revive.Redux.Entities.ConfigureMachineHistoryModel

@{
    ViewBag.Title = "Edit Configure Machine History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddEditConfigureMachineHistory", "ManageMachineSpecs", FormMethod.Post, new { id = "UpdateConfigureMachineHistoryform", name = "UpdateConfigureMachineHistoryform", enctype = "multipart/form-data" }))
{  @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div>
        <div class="col-md-12">
            <div class="contant_page">
                <!-- tittle -->
                <div class="row">
                    <div class="col-md-8">
                        <h2>Edit Configure Machine History</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Custom Type", htmlAttributes: new { @class = "col-md-4  col-sm-3 control-label text-right required" })
                            <div class="col-sm-8">
                                <div class="select-icon">
                                    @Html.DropDownListFor(M => M.ConfigureTypeId, new SelectList(Model.ConfigureTypeList, "Id", "Text"), "--Select--", new { @class = "form-control pull-right topspace selecter", @style = "" })
                                    @Html.ValidationMessageFor(m => m.ConfigureTypeId)
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ConfigureMachineHistoryId)
                        </div>
                        <div class="form-group">
                            @Html.Label("Custom Field", htmlAttributes: new { @class = "col-md-4  col-sm-3 control-label text-right required" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.ConfiguredValue, new { @class = "k-textbox form-control CapitalizeWord", @style = "width:225px;", maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.ConfiguredValue)
                                <div style="padding-left:15%">
                                    <span id="RoleValidation" class="field-validation-error" style="display:none">Role Name is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row spacer1">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-4 col-sm-3"></div>
                        <div class="col-md-6 col-sm-6">
                            <button id="btnCreate" class="btn GreenBtn" type="button">Save</button>
                            <button id="btnCancel" class="btn YellowBtn" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="row spacer1 spacer1">
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    $(document).ready(function () {
        Revive.Redux.Common.SetParentMenuSelected('TechnicalManagement');

        // Cancel Button Click event
        $("#btnCancel").click(function () {
            window.location.href = '@Url.Action("ConfigureMachineHistory", "ManageMachineSpecs")';
        });


        $("#btnCreate").click(function () {
            $('#UpdateConfigureMachineHistoryform').validate();
        
            if (!$('#UpdateConfigureMachineHistoryform').valid()) {
                //{
                $("#btnCreate").prop('disabled', false);
                return false;
            }

            else if ($("#UpdateConfigureMachineHistoryform").valid()) {
                $("#btnCreate").prop('disabled', true);
                $('#UpdateConfigureMachineHistoryform').submit();
            }
        });

        $("#ConfiguredValue").change(function () {
            var ddlCustomType = $("#ConfigureTypeId").val();
            if (ddlCustomType == "") {
                $.alert({ content: 'Select Custom Type. ', confirm: function () { $("#ConfiguredValue").val(''); } });
            }
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}