@{
    ViewBag.Title = "ManageSubAgents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="RecordID" name="DeactivateRecord" />
<div id="myModal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    @Html.Label("Title", htmlAttributes: new { @class = "", @id = "Title" })
                </div>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer footerbtn">
                <button type="button" id="Deactivatebtn" class="btn GreenBtn btn-primary" data-dismiss="modal">YES</button>
                <button type="button" class="btn btn-primary YellowBtn" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class=" contant_page">
                <div class="row">
                    <div class="lable-align-top">
                        <h2>Manage Sub-Agent</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8"></div>
                        <div class="col-md-4 col-sm-4" style="float: right;">
                            <div class="col-md-5 col-sm-5 "></div>
                            <div class="col-md-7 col-sm-7 ">
                                @if (Model.PageAccessCode != "ACCNTMGR")
                                {
                                    <button id="btnAddCustomer" type="submit" class="GreenBtn" onclick="location.href='@Url.Action("CreateSubAgent", "ManageSubAgent")'">Add Sub-Agent</button>
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="grid-align table-responsive Kendogrid">
                            @(Html.Kendo().Grid<Revive.Redux.Entities.ManageSubAgentModel>()
                            .Name("SubAgentGrid")
                            .DataSource(dataSource => dataSource
                            .Ajax().PageSize(10).ServerOperation(false)
                            .Read("ManageSubAgentAjax", "ManageSubAgent")
                        )
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.SubAgent_Ref_Code).Width(120).Title("Sub Agent ID");
                            columns.Bound(c => c.SubAgent_Name).Width(160).Title("Sub-Agent Name");
                            columns.Bound(c => c.Primary_Address).Width(160).Title("Address");
                            columns.Bound(c => c.Primary_Phone).Width(140).Title("Contact Number");
                            columns.Bound(c => c.CustomerName).Width(140).Title("Customer Name");
                            columns.Bound(c => c.SubsidiaryName).Width(140).Title("Subsidiary Name");
                            columns.Bound(c => c.Status).Visible(false);
                            columns.Bound(c => c.SubAgent_ID).ClientTemplate("<a title='Edit' onclick=\"Edit();\" href='" + Url.Action("EditSubAgent", "ManageSubAgent") + "?Id=#= SubAgent_ID #' ' " + "><i class='fa fa-pencil fa-lg icon-color', style='align:center'></i></a>").Title("Edit").Filterable(false).Sortable(false).Width(80).HtmlAttributes(new { @style = "cursor:pointer" });
                            if (Model.PageAccessCode != "ACCNTMGR")
                            {
                                columns.Bound(c => c.Status).ClientTemplate(
                               "# if (Status == false) { #<a id=\"deactivate\" runat=\"server\" href='javascript: void(0);' onclick=\"Action(this,'#= SubAgent_ID#,#= Status#');\" " + "><img src='" + Url.Content("~/Scripts/images/disable_icon.png") + "' /></a># }else{#<a id=\"activate\" runat=\"server\" href='javascript: void(0);' onclick=\"Action(this,'#= SubAgent_ID#,#= Status#');\" " + "><img src='" + Url.Content("~/Scripts/images/activate_icon.png") + "' /></a>#} #").Title("Active").Sortable(false).Width(80).HtmlAttributes(new { @style = "cursor:pointer" });
                            }
                        })
                        .HtmlAttributes(new { style = "width: 1069px;" })
                        .Pageable(pageable =>
                        {
                            pageable.Refresh(true);
                            pageable.PageSizes(new int[] { 10, 20, 50 });
                            pageable.Messages(messages => messages.Empty("No record found!"));
                        })
                        .Filterable(f => f.Operators(o => o.ForString(fs =>
                        {
                            fs.Clear().Contains("Contains");
                            fs.DoesNotContain("Does not contain");
                            fs.IsEqualTo("Equal to");
                            fs.IsNotEqualTo("Not equal to");
                            fs.StartsWith("Starts with");
                            fs.EndsWith("Ends with");
                        })))
                        .Sortable()
                        .Scrollable()
                        .ColumnResizeHandleWidth(900)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    /*.k-grid-content {
        max-height: 300px;
    }*/

    .k-grid tbody tr:hover {
        background: #faecc1;
    }

    .modal .fade {
        top: 30%;
        transition: opacity 0.3s linear;
    }

        .modal.fade.in {
            top: 30%;
        }

    .modal-backdrop {
        background-color: #000;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 0 !important;
    }
</style>
<script type="text/javascript">
    function Edit() {
        $('#btnView').css("visibility", "visible");
    }
    function Action(e, Id) {
        var arr = Id;
        $('#myModal').modal('show');
        if (e.id == "deactivate") {
            $("#Title").text("Do you want to activate this Sub Agent");
        }
        else {
            $("#Title").text("Do you want to deactivate this Sub Agent");
        }

        $("#RecordID").val(arr);
    }
    $('#Deactivatebtn').click(function (e) {
        var record = $("#RecordID").val();
        var arr = record.split(',');
        var recordID = arr[0];
        var status = arr[1];
        var ManageCustomersModel =
             {
                 "SubAgent_ID": recordID,
                 "Status": status
             };
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActivateDeactivateSubAgent", "ManageSubAgent")',
            data: JSON.stringify(ManageCustomersModel),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (data) {
            //Successfully pass to server and get response
            $('#SubAgentGrid').data().kendoGrid.dataSource.read(data);
            if (data.result = "OK") {
                var successMessage = data.Successmsg;
                var _successmsgs = '';
                if (data.Successmsg != "") {
                    _successmsgs = successMessage;
                    toastr.success(_successmsgs);
                    result = true;
                }
                else {
                    toastr.warning(data.ErrorMsgs);
                }
                // toastr.success(data.Successmsg);
                // result = true;
            }
        })
    });
    $(document).ready(function () {
        Revive.Redux.Common.SetParentMenuSelected('Customers');
        Revive.Redux.Common.SetKendoGridHeight();
        $("#SubAgentGrid").data("kendoGrid").dataSource.read();
    });

    @if (TempData["isCreatedSuccess"] != null && (bool)TempData["isCreatedSuccess"] == true)
    {
        <text>toastr.success('@ReviveMessages.Add');</text>
    }
    @if (TempData["isUpdatedSuccess"] != null && (bool)TempData["isUpdatedSuccess"] == true)
    {
        <text>toastr.success('@ReviveMessages.Update');</text>
    }
</script>